[submodule "brandkit"]
	path = brandkit
	url = https://github.com/amitkuzi/amitkuzi-brandkit.git
[submodule "kuziSlicer.extensions"]
	path = src/plugins/extensions
	url = https://github.com/amitkuzi/kuziSlicer.extensions.git
[submodule "kuziSlicer.PluginHost"]
	path = src/plugins/PluginHost
	url = https://github.com/amitkuzi/kuziSlicer.PluginHost.git
